<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
	

    <title>Diabestie - CS 361</title>
  </head>
  <body>
<ul class="navMenu">
  <li class="navItem"><a href="home">Home</a></li>
  <li class="navItem"><a href="search">Search Product</a></li>

  <li class="navItem"><a href="listing">List Product</a></li>
  <li class="navItem"><a href="supplierPortal">Supplier Portal</a></li>
</ul>
    {{{body}}}
  </body>
</html>
