<h1>Supplier Registration</h1>
<div>
    <form>
        Company/Pharmacy name: <input type="text"><br>
        Street Address: <input type ="text"><br>
        Primary Email: <input type="text"><br>
        Phone Number: <input type="text"><br>
        Zip Code: <input type="number"><br>
        State:
        <select name="state">
            <option value="WA">WA</option>
            <option value="OR">OR</option>
            <option value="CA">CA</option>
        </select><br>
        <br>
        FDA Documentation: <input type="file"><br>
        <br>
        <button>Submit</button>
        <button>Cancel</button>
    </form>
</div>