<h1>DiaBestie Supplier Portal</h1>
<div>
    <p>Stuff about supplier portal. Lorem Ipsum</p>
</div>
<div>
    <button ><a href="supplierLogin">Login</a></button>
    <button><a href="supplierReg">Register</a></button>
    <p>Scroll nav to go here</p>
</div>